<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportsMate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C805CE04216FA3A600BB5EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C805CE18216FA3A800BB5EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C805CE23216FA3A800BB5EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
